$open-sans: 'Open Sans', sans-serif;
$box-effect: 0 1px 1px rgba(182, 180, 180, 0.12), 0 1px 1px rgba(92, 91, 91, 0.24);;
.dashboard__index{
  padding-left: 4em; 
  width: 100%;
}

.dashboard__title{
  font-size: 30px;
  font-family: $open-sans;
  font-weight: 20px;
}

.dashboard__cards{
  margin: 2% 0%;
  display: flex;
  background-color: white;
  width: 100%;
  height: 110px;
  box-shadow: 0 1px 1px rgba(182, 180, 180, 0.12), 0 1px 1px rgba(92, 91, 91, 0.24);
  border-radius: 5px;
  display: flex;
  padding-left: 25px;
  flex-wrap: wrap;
}
.card-item{
  display: flex;
  font-family: $open-sans;
  width: 220px
}
.card-detail{
  margin: 1.5em 0px;
}
.card-title{
  font-size: 13px;
  font-weight: bold;
  color: rgb(104, 105, 104);
  width: 130px;
}
.card-total{
  padding-top: 8%;
  display: flex;
  position: relative;
  .count{
    font-size: 22px;
    font-weight: bold;
    color: rgb(126, 128, 126);
  }
  .count-month{
    position: absolute;
    bottom: 3px;
    right: 2em;
    font-size: 12px;
    font-weight: bold;
    color: rgb(167, 167, 167);
  }
}
.card-item-icon{
  position: relative;
  margin: 15px 19px 15px 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
}

.line-vertical{
  margin-top: 30px;
  margin-left: 4%;
  margin-right: 4%;
  border-left: 2px solid rgb(212, 210, 210);
  height: 40px;
}

.line-horizontal{
  margin-top: 30px;
  border-bottom: 2px solid rgb(212, 210, 210);
  height: 40px;
}

.dashboard__card-title{
  margin-top: 3em;
}

.dashboard__card-meeting{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-meeting{
  margin-top: 1.5em;
  width: 250px;
  height: 220px;
  background-color: white;
  box-shadow: $box-effect;
  border-radius: 3px;
  padding: 0px;
}

.meeting-user-img{
  width: 35%;
}
.title-desc{
  width: 150px;
  flex-wrap: wrap;
  word-wrap: break-word;
  font-family: $open-sans;
}
.title-desc-name{
  font-size: 13px;
  font-weight: 20px;
}
.title-desc-mail{
  font-size: 10px;
  font-weight: 20px;
  margin-bottom: 10px;
  color: rgb(128, 127, 127);
}

.title-desc-time{
  color: rgb(80, 80, 80);
  font-size: 13px;
  font-weight: 20px;
  margin-bottom: 10px;
}

.title-meeting{
  padding: 1.5em 0.5em 0.5em 1.5em;
  display: flex;
  width: 100%;
  height: 80px;
}

.status-meeting{
  padding: 0.7em 0.5em 0.7em 1.5em;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  p{
    font-family: $open-sans;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11.5px;
    font-weight: bold;
  }
  .going{
    color: rgb(75, 143, 175);
  }
  .pending{
    color: rgb(235, 168, 93);
  }
}

.users-meeting{
  padding: 1.2em 0.5em 2em 1.5em;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.users-img{
  display: flex;
  width: 50%;
  .img-user1{
    position: absolute;
    z-index: 1;
    padding-left: 0px !important;  
  }
  img{    
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }
}

.btn-view{
  bottom: 0;
  border:0.5px solid rgb(224, 224, 224);
  background-color: white;
  height: 31px;
  width: 100%;
}

.users-total-count{
  padding-top: 3px;
  padding-left: 15px;
  font-weight: bold;
  color: rgb(128, 127, 127);
  font-size: 13.5px;
}

.user-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}